{% extends 'base.html' %}

{% block title %}
    修改 "{{ product.name }}"
{% endblock %}

{% block content %}
    <div class="admin-form-wrapper">
        <h1>修改產品</h1>
        <label for="product_select">選擇要編輯的商品:</label>
        <select id="product_select" onchange="if(this.value) { window.location.href = this.value; }">
            <option value="">-- 請選擇商品 --</option>
            {% for p in all_products %}
                <option value="{{ url_for('edit', product_id=p.id) }}" 
                        {% if p.id == product.id %}selected{% endif %}>
                    {{ p.name }}
                </option>
            {% endfor %}
        </select>
        <form method="post">
            <input type="hidden" name="product_id" value="{{ product.id }}">

            <label for="name">商品名稱</label>
            <input type="text" name="name"
                value="{{ product.name }}"></input> 
            <label for="image">圖片</label>
            <input type="text" name="image"
                value="{{ product.image }}"></input>

            <label for="price">單價</label>
            <input type="number" name="price"
                step="1"
                value="{{ product.price }}"></input>

            <label for="description">簡短描述</label>
            <textarea name="description">{{ product.description }}</textarea>
            <button type="submit">儲存變更</button>
        </form>

        <hr>

        <form action="{{ url_for('delete', product_id=product.id) }}" method="post" class="delete-product-form">
            <input type="submit" value="刪除產品"
                onclick="return confirm('確定要刪除此產品嗎？')">
        </form>
    </div>
{% endblock %}
