{% extends 'base.html' %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <div class="product-detail">
        <div class="product-image">
            <img src="{{ url_for('static', filename=product.image) }}" alt="{{ product.name }}">
        </div>
        <div class="product-info">
            <h1>{{ product.name }}</h1>
            <p class="price">${{ "%.2f"|format(product.price) }}</p>
            
            <div class="product-description">
            {{ description_html | safe }}
            </div>
        </div>
    </div>
    <div class="purchase-form">
    <h2>加入購物車</h2>
    <form action="{{ url_for('add_to_cart', product_id=product.id) }}" method="post">
        <label for="quantity">數量：</label>
        <input type="number" name="quantity" id="quantity" value="1" min="1" style="width: 60px; margin-bottom: 20px;">
        <button type="submit" class="payment-option-btn">加入購物車</button>
    </form>
</div>
{% endblock %}
